@import 'reset';


* {
    transform: translate(10px, 20px);
}

::placeholder {
  color: gray;
}

.image {
  background-image: url('https://camo.githubusercontent.com/f265315f74ed08b94e473cd7f6f04c291e59a8e2/687474703a2f2f706f73746373732e6769746875622e696f2f6175746f70726566697865722f6c6f676f2e737667');
}
@media (min-resolution: 2dppx) {
  .image {
    background-image: url('https://camo.githubusercontent.com/f265315f74ed08b94e473cd7f6f04c291e59a8e2/687474703a2f2f706f73746373732e6769746875622e696f2f6175746f70726566697865722f6c6f676f2e737667');
  }
}